<div class="full-viewport unit" variant="image">
	<img class="full-viewport" 
		 src="{{ item.data.image.src }}" 
		 title="{{ item.data.image.title }}" 
		 srcset="{{ item.data.image.src }} 750w, {{ item.data.image.src }} 1600w"
		 sizes="95vw"
		 alt="{{ item.data.image.title }}" />
</div>