<h1 class="intro-title wow fadeInUp">{{site.data.global.craas.intro.title}}</h1>
<div class="intro-image wow fadeInUp">
	<picture>
		<source 
			media="(max-width: 750px)"
			sizes="100vw"
			srcset="{{site.data.global.craas.intro.imageMobile350}} 350w, {{site.data.global.craas.intro.imageMobile700}} 700w">
		<img 
			src="{{site.data.global.craas.intro.imageDesktop1100}}"
			sizes="100vw,(min-width: 1100px) 1100px"
			srcset="{{site.data.global.craas.intro.imageDesktop800}} 800w, {{site.data.global.craas.intro.imageDesktop1100}} 1100w"
			alt="{{site.data.global.craas.intro.imageTxt}}">
	</picture>
</div>
