<div class="full-viewport unit" variant="video">
	<div class="youtube-player" data-youtube="{{ item.data.video.id }}" data-allowFullscreen="{{ item.data.video.allowFullscreen }}" data-autoHideControls="{{ item.data.video.autoHideControllers }}" data-autoplayDesktop="{{ item.data.video.autoplay.desktop }}" data-autoplayMobile="{{ item.data.video.autoplay.mobile }}"></div>
</div>