<a class="button wow fadeInUp" variant="{{_button.color}}" href="#!facebook" state="default">
	{%include {{_button.icon}}.liquid %}
	<span class="default">{{_button.title.default}}</span>
	<span class="busy">{{_button.title.busy}}</span>
	<span class="failed">{{_button.title.failed}}</span>
	<span class="done">{{_button.title.done}}</span>
</a>
