{% if item.image %}
	{% capture imageUrl %}{{item.image}}{% endcapture %}
{% else %}
	{% capture imageUrl %}{{ "314x739" | placeholder:'999999','000000' }}{% endcapture %}
{% endif %}

{% if item.raas-links %}
	{% capture raasClass %}{{ "unit--buttons" }}{% endcapture %}
{% endif %}

{% comment %} replace dynamic image for sake of seeing image sizes for now 
	{ capture imageUrl }{{ "260x610" | placeholder:'999999','000000' }}{ endcapture }
{% endcomment %}

{% if item.raas-links %}
<div class="media unit wow fadeInUp {{raasClass}}" href="{{ item.location }}" variant="1x2">
{% else %}
<a class="media unit wow fadeInUp {{raasClass}}" href="{{ item.location }}" variant="1x2">
{% endif %}

	<div class="head"> 
		<h1 class="title">{{ item.title }}</h1>
	</div>
	<div class="content">
		<img src="{{imageUrl}}" 
		srcset="{{imageUrl}} 130w, {{imageUrl}} 260w"
			sizes="(max-width: 750px) 47vw,
				   (min-width: 751px) 25vw"
			alt=""
		/>
		{% if item.raas-links %}
			<ul class="unit__button-list">
			{% for link in item.raas-links %}
				<li class="slide-button">
					<a href="{{link.url}}">
						<span class="slide-button__title">{{link.title}}</span>
						<img class="slide-button__img" src="{{link.logo}}" />
					</a>
				</li>
			{% endfor %}
			</ul>
		{% endif %}
	</div>

{% if item.raas-links %}
</a>
{% else %}
</div>
{% endif %}